<div class="w-64 bg-base-200 p-3 rounded-md flex flex-col">
  <div class="text-xl font-bold mb-4 font-mono">atp2osm</div>
  <ul class="menu p-0 w-full gap-2">
    <li>
      <a class="bg-white align-start hover:bg-base-300" href="/"><i class="iconoir-stat-up"></i>Home</a>
    </li>
    <li>
      <a class="bg-white align-start hover:bg-base-300" href="/brands"><i class="iconoir-archery"></i>Marques</a>
    </li>
  </ul>

  <div class="flex-1"></div>

  <div class="bottom-4 left-4 w-full">
    <a class="btn bg-accent w-full rounded-full"><i class="iconoir-log-in"></i>Connectez vous</a>
  </div>
</div>