<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>atp2osm</title>

    <!-- Tailwind + DaisyUI (CDN) -->
    <link href="/static/lib/daisyui-5.css" rel="stylesheet" type="text/css" />
    <script src="/static/lib/tailiwind-4.js"></script>

    <link rel="stylesheet" href="/static/lib/iconoir.css" type="text/css" />

    <!-- Optional custom CSS (if you created one) -->
    {% block custom_css %}
    {% endblock %}

    <!-- Optional custom JS (if you created one) -->
    {% block custom_js %}
    {% endblock %}
</head>

<body class="flex h-screen w-screen bg-base-300 flex gap-2 p-2">
    {% include '_aside.html' %}

    <main class="flex flex-col bg-base-200 rounded-md flex-grow p-3 overflow-x-auto gap-2">
        <div class="mb-4">
            <h1 class="text-xl font-bold mb-4 font-mono flex items-center"><i class="iconoir-nav-arrow-right"></i>{%
                block
                title %}{%
                endblock %}</h1>
            <p class="text-sm text-gray-500 w-2/3">{% block subtitle %}{% endblock %}</p>
        </div>

        {%block content %}{% endblock %}
    </main>
</body>

</html>