{# Discreet export menu, placed on the filter row above a table. #}
{% macro export_menu(dataset, filters={}) %}
<div class="dropdown dropdown-end">
  <div tabindex="0" role="button" class="btn btn-sm btn-ghost text-base-content/60" title="Exporter ces données">
    <i class="iconoir-download"></i> Exporter
  </div>
  <ul tabindex="0" class="dropdown-content menu menu-sm bg-base-100 rounded-box z-10 w-40 p-2 shadow">
    <li><a href="{{ url_for('export.export', dataset=dataset, fmt='csv', **filters) }}">CSV</a></li>
    <li><a href="{{ url_for('export.export', dataset=dataset, fmt='json', **filters) }}">JSON</a></li>
    <li><a href="{{ url_for('misc.docs') }}#export" class="text-base-content/60">À propos</a></li>
  </ul>
</div>
{% endmacro %}
