{% extends 'base.html' %}

{% block title %}Importations les plus anciennes des données ATP{% endblock %}

{% block content %}
<diV>
    {{ metadata|length() }} élements | Télachargez les données au format <a href="/logs/metadata.json" download>json</a>
</diV>

<div class="overflow-x-auto rounded-box border border-base-content/5">
    <table id="metadata-table" class="table table-zebra bg-base-100">
        <thead class="border">
            <tr id="table-header">
                <th>Code Wikidata</th>
                <th>Nom</th>
                <th>Nombre de POIs</th>
                <th>Dernière mise à jour</th>
            </tr>
        </thead>
        <tbody id="table-body">
            {% for row in metadata %}
            <tr>
                <th class="px-2">
                    {{ row["brand_wikidata"] }}
                </th>

                <td class="px-2">
                    {{ row["brand"] }}
                </td>

                <td class="px-2">
                    {{ row["count"] }}
                </td>

                <td class="px-2">
                    {{ row["last_import"] if row["last_import"] != "never" else 'Jamais' }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}