{% extends '_base.html' %}
{% from '_info_card.html' import info_card %}

{% block title %}{{ _('2/2 - Confirming the integration') }}{% endblock %}
{% block subtitle %}{{ _('Last step before the integration.') }}{% endblock %}

{% block custom_js %}
<script src="/static/js/confirm.js?v={{ app_version }}" type="text/javascript"></script>
{% endblock %}

{% macro render_stat_card(title, value) %}
<div class="card bg-base-100 w-1/5 shadow-sm w-full">
    <div class="card-body items-center text-center">
        <h2 class="card-title font-mono">{{ title }}</h2>
        <p class="text-2xl">{{ value }}</p>
    </div>
</div>
{% endmacro %}

{% block content %}
<h2 class="text-lg">{{ _('Size of the integration') }}</h2>
<div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-5 gap-2">
    {{ render_stat_card(_('POI count'), stats["size"]) }}
    {{ render_stat_card(_('Tag count'), stats["total_tag_updates"]) }}
</div>

<h2 class="text-lg">{{ _('Updates per tag') }}</h2>
<div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-5 gap-2">
    {% for stat in stats["by_tag"] %}
    {{ render_stat_card(stat, stats["by_tag"][stat]) }}
    {% endfor %}
</div>

<h2 class="text-lg">{{ _('Updates per subdivision') }}</h2>
<div class="overflow-x-auto shrink-0">
    <table class="table table-zebra w-full">
        <thead>
            <tr>
                <th>{{ _('Code') }}</th>
                <th>{{ _('Subdivision') }}</th>
                <th>{{ _('Points updated') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for sub, info in stats["by_subdivision"].items() %}
            <tr>
                <td class="font-mono">{{ sub }}</td>
                <td>{{ info["name"] }}</td>
                <td>{{ info["count"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<button class="btn btn-primary mt-4 self-end" onclick="document.getElementById('last_confirm_modal').show()">{{ _('Confirm the integration') }}</button>
<dialog id="last_confirm_modal" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">{{ _('This action cannot be undone') }}</h3>
        {% call info_card('warning', '', 'id="warning"') %}
        <span>{{ _('Careful! The changes cannot be reverted from here.') }}</span>
        {% endcall %}

        <div class="modal-action">
            <button id="submit_importation" class="btn btn-error" onclick="confirm_import()">
                <div id="loading" class="loading loading-spinner loading-md hidden"></div>
                {{ _('Integrate the data') }}
            </button>
            <button id="cancel" onclick="document.getElementById('last_confirm_modal').close()"
                class="btn">{{ _('Cancel') }}</button>
        </div>
    </div>
</dialog>
{% endblock %}