{% extends '_base.html' %}

{% block title %}{{ _('Brand up to date') }}{% endblock %}
{% block subtitle %}{{ _('This brand has been marked as up to date.') }}{% endblock %}

{% from '_info_card.html' import info_card %}

{% block content %}
{% call info_card('success') %}
<div>
    <p>{{ _('No difference was found between the OSM and the ATP data for this brand.') }}</p>
    <p>{{ _('The OSM tags are already up to date: the brand was automatically marked as integrated.') }}</p>
</div>
{% endcall %}

<a class="btn btn-accent mt-4" href="/brands">{{ _('Back to the brand list') }}</a>
{% endblock %}
