{% extends '_base.html' %}

{% block title %}Marque à jour{% endblock %}
{% block subtitle %}Cette marque a été marquée comme à jour.{% endblock %}

{% block content %}
<div class="alert alert-success">
    <i class="iconoir-check-circle"></i>
    <div>
        <p>Aucune différence n'a été détectée entre les données OSM et ATP pour cette marque.</p>
        <p>Les tags OSM sont déjà à jour : la marque a été automatiquement marquée comme importée avec succès.</p>
    </div>
</div>

<a class="btn btn-accent mt-4" href="/brands">Retourner à la liste des marques</a>
{% endblock %}
