{% extends '_base.html' %}

{% block title %}1/2 - Validation des données de {{ brand }} ({{brand_wikidata}}){% endblock %}
{% block subtitle %}Validez 1% des {{size}} points d'intérêt destinés à l'importation. Les tags en <span
    class="text-success">verts</span> sont les nouvelles valeurs ajoutées issues de ATP, les autres sont déjà présentent
dans OSM et ne seront pas mises à jour.{% endblock %}

{% block custom_js %}
<script src="/static/js/validate.js" type="text/javascript"></script>
{% endblock %}

{% macro render_tag(key, label, icon, item) %}
{% if key in item["tag"] %}
<div class="flex items-start">
    <i class="{{icon}} mr-2 mt-1"></i>
    <div>
        <strong>{{label}} :</strong>

        {% if key == 'website' %}
        <p class="{{'text-success' if key in item['new_tags_keys']}}"><a href="{{ item['tag'][key] }}" target="_blank"
                class="link">{{
                item["tag"][key]
                }}</a></p>
        {% elif key == 'opening_hours' %}
        <div class="{{'text-success' if key in item['new_tags_keys']}}">
            {% set opening_hours = item["tag"]["opening_hours"].split(';') %}
            {% for item in opening_hours %}
            <p>
                {{ item }}
            </p>
            {% endfor %}
        </div>
        {% else %}
        <p class="{{'text-success' if key in item['new_tags_keys']}}">{{ item["tag"][key] }}</p>
        {% endif %}
    </div>
</div>
{% endif %}
{% endmacro %}

{% block content %}
<div class="flex flex-col gap-2">
    <a href="/brands/{{brand_wikidata}}/validate" class="btn btn-outline btn-info self-end"><i
            class="iconoir-refresh"></i>Annulez votre
        saisie et recommencez</a>

    {% for item in items %}
    <div class="card bg-base-100 border-base-300 gap-4 border shadow-md p-4" data-item-id="{{item['id']}}">
        <div class="title font-semibold">
            {{ loop.index }} - {{ item["title"] }}
        </div>
        <div class="content grid grid-cols-2 gap-2">
            <div class="flex flex-col gap-2">
                {% if item['source_type'] != "api" %}
                <a class="btn btn-accent btn-sm" href="{{ item['source_uri'] }}" target="_blank">
                    Ouvrir la source de donnée<i class="iconoir-open-new-window ml-1"></i>
                </a>
                {% else %}
                <a class="btn btn-accent btn-sm" disabled>
                    La donnée provient d'une API
                </a>
                {% endif %}

                {{ render_tag("brand", "Nom de la marque", "iconoir-shop", item) }}

                {{ render_tag('brand:wikidata', "Code Wikidata", "iconoir-database", item) }}

                {{ render_tag('name', "Nom du magasin", "iconoir-quote", item) }}

                {{ render_tag('email', "Email", "iconoir-mail", item) }}

                {{ render_tag('phone', "Téléphone", "iconoir-phone", item) }}

                {{ render_tag('website', "Site web", "iconoir-globe", item) }}

                {{ render_tag('opening_hours', "Horaires", "iconoir-clock", item) }}

            </div>

            <div class="flex flex-col gap-4 w-full">
                <a href="https://www.openstreetmap.org/node/{{item['id']}}" target="_blank" title="Ouvrir dans OSM">
                    <img class="rounded-lg border-base-200 border-2 shadow-md"
                        src="/staticmap/{{item['lon']}}/{{item['lat']}}" alt="Carte de {{item['title']}}"
                        style="width: 100%; height: auto;" />
                </a>

                <div class="flex gap-2 w-64 self-end">
                    <button class="btn btn-error btn-sm flex-1" onclick="invalidateData(`{{ item['id'] }}`)">
                        Invalider <i class="iconoir-prohibition"></i>
                    </button>
                    <button class="btn btn-success btn-sm flex-1" onclick="validateData(`{{ item['id'] }}`)">
                        Valider <i class="iconoir-check"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}


    <a class="nextStep btn btn-primary mt-4 self-end" disabled href="/brands/{{brand_wikidata}}/confirm">Passer à
        l'étape
        suivante</a>

</div>

<dialog id="invalidation_modal" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">Pourquoi invalidez-vous cette donnée ?</h3>
        <h4 id="subtitle"></h4>
        <textarea id="invalidation_comment" class="textarea textarea-bordered w-full mt-4"
            placeholder="Expliquez ici..."></textarea>
        <div class="modal-action">
            <button id="submit_invalidation" class="btn btn-error" onclick="publishComment()">Soumettre</button>
            <button onclick="document.getElementById('invalidation_modal').close()" class="btn">Annuler</button>
        </div>
    </div>
</dialog>

{% endblock %}